# Dodo Payments
DODO_PAYMENTS_API_KEY=BiEqQzoQ7Avu5HJ6.tQwvOSxd-L3wy6i_IOCYp2zpbVtRuRhLwgt_rzHBmWVhoFxq
DODO_PAYMENTS_ENVIRONMENT=live_mode
DODO_PRO_PLAN_PRODUCT_ID=pdt_0Nc4pDME64vI69U9aX2XZ
DODO_PAYMENTS_WEBHOOK_SECRET=whsec_1iio4azaGdZDw5e3yPjBhQVsTCJBobpt

# Supabase (server-side only)
SUPABASE_URL=https://arxottwvubaoaetcnoic.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyeG90dHd2dWJhb2FldGNub2ljIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDcwNTM1NywiZXhwIjoyMDkwMjgxMzU3fQ.1bcatvx1tJE986JAllXznwM93e_TCCF_8ggbLwjokbE

# Optional - Vercel populates this at runtime
VERCEL_URL=https://vercel.com/proposalkit8-9367s-projects/pitchnw